<.gitignore>
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.vscode/
.idea/
*.iml
build/
dist/
*.egg-info/
*.apk
*.apkm
*.xapk
*.aab
avd/
.emulator_console_auth_token
rules_severity_refactor_spec.md
*.qcow2
*.img
.~*
report_generation_spec.md
*.ini
*.log
*.pcap
*.pcapng
*_report.html
*_report.json
endpoints.*.txt
endpoints.*.json
tmp/
temp/
downloads/
.DS_Store
Thumbs.db
AGENTS.md
.tapka
API*Docs.html
API*Docs_files/
Static*Analysis_files/
Static*Analysis.html
methodics.docx
addendum_scope_filtering.md
addendum3_pattern_fixes.md
addendum4_quark_oom_fix_1.md
addendum4_quark_oom_fix_2.md
.pylintrc
.review_md/*
tests/
.claude
.claude-octopus
.review_md
android-insecurebankv2/
docs/
test_apk_file
